language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
addons:
    apt:
        packages:
            - libfreetype6-dev
            - hdf5-tools
            - libhdf5-dev
            - libopenblas-dev
install:
  - python setup.py install
  - pip install -U pytest pytest-mp
before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
script: python setup.py test --addopts "--mp"
